[submodule "src/io/hyperify/core"]
	path = src/io/hyperify/core
	url = https://github.com/hyperifyio/io.hyperify.core.git
[submodule "src/io/hyperify/frontend"]
	path = src/io/hyperify/frontend
	url = https://github.com/hyperifyio/io.hyperify.frontend.git
[submodule "src/io/hyperify/govm"]
	path = src/io/hyperify/govm
	url = https://github.com/hyperifyio/io.hyperify.govm.git
